/* Khai báo Font Quicksand từ thư mục địa phương */

@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Áp dụng mặc định cho toàn bộ trang web */
* {
    font-family: 'Quicksand', sans-serif;
}